################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NoiseLib/v15/Server/sqlite3
/.vs/NoiseLib/v15
/.vs/NoiseLib/DesignTimeBuild/.dtbcache
